functional/kuramoto_f40_K5_MD20ms.npz
functional/kuramoto_f40_K10_MD5ms.npz
functional/kuramoto_f40_K10_MD10ms.npz
functional/kuramoto_f40_K10_MD20ms.npz
functional/kuramoto_f40_K15_MD20ms.npz
functional/kuramoto_f40_K20_MD20ms.npz
functional/kuramoto_f40_K25_MD20ms.npz
functional/kuramoto_f40_K30_MD20ms.npz
functional/kuramoto_f40_K35_MD20ms.npz
functional/kuramoto_f40_K40_MD20ms.npz
